body{
    background-color: #2c2c2c;
    color: #ab9eeb;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

aside{
    background-color: #202020;
    flex-basis: 10%;
    flex-grow: 1;
    padding: 1em;
}

a{
    text-decoration: none;
    color: white;
}

table a{
    color: #ab9eeb;
}

main{
    padding: 2em;
    flex-basis: 80%;
    flex-grow: 0;
}

main *{
    padding: 0;
    margin: 0 0 20px;
}

main li{
    list-style-type: none;
}

main img{
    width: 15em;
}

#albums{
    display: flex;
    flex-wrap: wrap;
}

#albums>*{
    padding: 2em;
}

button, input[type="submit"]{
    background-color: #836dec;
    padding: 4px;
    border-radius: 10px;
    border-width: 0;
    color: white;
    font-size: 15px;
    margin-right: 2em;
}

form input, form select{
    background-color: #cbc5e7;
    color: black;
    padding: 4px;
    border-radius: 10px;
    border-width: 0;
    font-size: 15px;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover{
    background-color: #cbc5e7;
    color: black;
    cursor: pointer;
}

input, select, button{
    margin-bottom: 1em;
}

input[type="text"]{
    cursor: text;
}


form *{
    margin-right: 1em;
}

td>a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

th {
    height: 70px;
    background-color: #ab9eeb;
    color: #2c2c2c;
}

table {
    border-collapse: collapse;
}

tr>*{
    border: 1px solid;
    padding: 1em;
}

h1{
    text-decoration: underline;
}

.titre{
    line-break:1;
    font-weight: bold;
    color: #ab9eeb;
    text-transform: uppercase;
}

.album:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.album{
    width: 15em;
}

.musicien{
    width: 15em;
    padding: 3em;
}

.musicien:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

#page-musicien{
    display: flex;
    flex-wrap: wrap;
}

fieldset{
    display: flex;
    flex-wrap: wrap;
}

fieldset input{
    margin: 0;
}